.auth-container {
  width: 100%;
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border: 2px solid #90b137;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.auth-container h2 {
  color: #90b137;
  margin-bottom: 15px;
}

input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #90b137;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease-in-out;
}

input:focus {
  border-color: #388e3c;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #90b137;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #388e3c;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}

p {
  color: #2e7d32;
  cursor: pointer;
  margin-top: 10px;
  transition: color 0.3s ease-in-out;
}

p:hover {
  color: #1b5e20;
}
